.form-control i {
  position: absolute;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  display: none;
}

.form-control.error small {
  display: block;
}


.sberInv {
  font-size: 15px
}

.ZakazUsl {

}

@media (min-width: 768px) {
  .minPacket {
    height: 100%;
  }
  .stdPacket {
    height: 100%;
  }
  .premPacket {
    height: 100%;
  }
}


@media (min-width: 766px) and (max-width: 992px) {
  .ZakazUsl {
    font-size: 15px;
  }
}



@media (max-width: 400px) {
  .fullbody {
    width: 100%;
  }
  .kurs {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .sberInv {
    width: 120px;
  }
}

@media (min-width: 576px) {
  .sberInv {
    font-size: 19px;
  }
}