header {
}

@media (min-width: 768px) {
  .minPacket {
    height: 100%;
  }
  .stdPacket {
    height: 100%;
  }
  .premPacket {
    height: 100%;
  }
}

@media (min-width: 766px) and (max-width: 992px) {
  .ZakazUsl {
    font-size: 15px;
  }
}
