@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.GoogleForm {
  width: 100%;
  overflow: visible;
}

.navbar-brand {
  color: #122448;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
