a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 

.ZapisNaKurs {
    transition: 1s;
    padding: 6px 12px;
    cursor: pointer;
    background: #122448 none repeat scroll 0% 0%;
    border-radius: 0.5rem;   
    color: rgb(255, 255, 255);
    transition: all 0.01s cubic-bezier(0.4, 0, 0.2, 1);  
}

.ZapisNaKurs:hover {
    box-shadow: none;
    background: rgb(92, 92, 92);
    transition: 0.3s;
}

.ZapisNaKurs:active {
    background: rgb(92, 92, 92);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.3s;
}

@media(max-width: 767.98px) {
    h2 br {
    display: none;
    }
}

.links a {
    padding: .375rem .75rem;
    border-radius: .5rem;
    background-color: #122448;
    color: #fff;
}

.GoogleForm {
    margin-top: 40px;
    display: none;
}

.ZapisNaKursOpen {
    background-color:  rgb(92, 92, 92);
}

.ZapisNaKursClose {
    display: none;
    background-color: #122448;
}

