{{ define "content" }}

<section class="p-3 p-lg-5 px-3 d-flex flex-column" style="
background: #f5f6f7;
min-height: 100vh;
">
  <br /><br />
  <br /><br />

<div class="row d-flex justify-content-center lead">
  <div
    class="message col-12 col-lg-9 mt-2 p-3"
    style=" border-radius: 20px; background-color: #e2e2e2;"
  >
  <p class="m-0 p-0">
    <a
      style="font-weight: bold; color: #0719bb; text-decoration: none"
      class=""
      href="/user/profile/{{ .UserID }}"
      >{{ .article.FirstName }} {{ .article.LastName }}</a
    ><br />
    <p class="m-0 p-0 d-flex justify-content-center">
      <a style="font-weight: bold; color: #0719bb; text-decoration: none" href="/article/{{ .ID }}">{{ .article.Title }}</a> <br />
    </p>
    <p class="m-0 p-0 ps-2">
      {{ .article.Text }}
    </p>
    <p class="m-0 p-0 d-flex justify-content-center">
      Теги: тег1, тег2, тег3, etc
    </p>
  </p>
  <p class="m-0 p-0 d-flex justify-content-between">
    <span>Добавлен: {{ .article.CreatedAt.Format "02 Jan 06 15:04" }}</span>
    <span>Обновлен: {{ .article.UpdatedAt.Format "02 Jan 06 15:04" }}</span>
  </p>
  <div class="m-0 p-0 d-flex align-items-center justify-content-end">
    <form class="m-0" action="/vote/article/like/{{ .article.ID }}" method="POST">
      <button class="btn btn-success"><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-heart"
        viewBox="0 0 16 16"
      >
        <path
          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
        />
      </svg></button>
    </form>
    <span class="px-1">
      {{ .article.Likes }}
    </span>
    <form class="m-0" action="/vote/article/dislike/{{ .article.ID }}" method="POST">
      <button class="btn btn-danger"><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-heartbreak"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8.867 14.41c13.308-9.322 4.79-16.563.064-13.824L7 3l1.5 4-2 3L8 15a38.094 38.094 0 0 0 .867-.59Zm-.303-1.01c6.164-4.4 6.91-7.982 6.22-9.921C14.031 1.37 11.447.42 9.587 1.368L8.136 3.18l1.3 3.468a1 1 0 0 1-.104.906l-1.739 2.608.971 3.237Zm-1.25 1.137a36.027 36.027 0 0 1-1.522-1.116C-5.077 4.97 1.842-1.472 6.454.293c.314.12.618.279.904.477L5.5 3 7 7l-1.5 3 1.815 4.537Zm-2.3-3.06C.895 7.797.597 4.875 1.308 3.248c.756-1.73 2.768-2.577 4.456-2.127L4.732 2.36a1 1 0 0 0-.168.991L5.91 6.943l-1.305 2.61a1 1 0 0 0-.034.818l.442 1.106Z"
        />
      </svg></button>
    </form>
    <span class="px-1">
      {{ .article.Dislikes }}
    </span>
  </div>
  </div>
</div>

  <div class="">
    <!-- Коммент -->
    <div class="mb-2 row d-flex justify-content-center lead">
      <label for="InputPassword1" class="form-label"></label>
      <input id="comment" class="message col-11 col-lg-4 p-3" name="comment" type="text"
        placeholder="Написать комментарий.." required
        style="border-width: 0px; border-radius: 20px; background-color: #e2e2e2;" />
    </div>
    <input type="hidden" id="article_id" value="{{ .article.ID }}">
    <input type="hidden" id="category_id" value="{{ .article.CategoryID }}">

    <!-- Submit -->
    <div class="d-flex flex-column align-items-center">
      <button onclick="commentCreate()" type="submit" style="width: 200px;" class="btn btn-warning mb-2">
        Отправить
      </button>
    </div>
  </div>

  {{ if eq .nil true }}
  {{ else }}
  {{ range .comments }}
  <div class="row d-flex justify-content-center lead">
    <div class="col-1 col-lg-2">
      <p></p>
    </div>
    <div class="message col-8 col-lg-8 mb-5 p-3" style=" border-radius: 20px 20px 20px 20px; background-color: #e2e2e2;">
      <a
      style="font-weight: bold; color: #0719bb; text-decoration: none"
      class=""
      href="/user/profile/{{ .UserID }}"
      >{{ .FirstName }} {{ .LastName }}</a
    ><br />
      <p class="m-0 p-0">
        {{ .Text }}
      </p>
      <p class="m-0 p-0 d-flex justify-content-between">
        <span>Добавлен: {{ .CreatedAt.Format "02 Jan 06 15:04" }}</span>
      </p>
      <div class="m-0 p-0 d-flex align-items-center justify-content-end">
        <form class="m-0" action="/vote/comment/like/{{ .CommentID }}" method="POST">
          <button class="btn btn-success"><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-heart"
            viewBox="0 0 16 16"
          >
            <path
              d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
            />
          </svg></button>
        </form>
        <span class="px-1">
          {{ .Likes }}
        </span>
        <form class="m-0" action="/vote/comment/dislike/{{ .CommentID }}" method="POST">
          <button class="btn btn-danger"><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-heartbreak"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8.867 14.41c13.308-9.322 4.79-16.563.064-13.824L7 3l1.5 4-2 3L8 15a38.094 38.094 0 0 0 .867-.59Zm-.303-1.01c6.164-4.4 6.91-7.982 6.22-9.921C14.031 1.37 11.447.42 9.587 1.368L8.136 3.18l1.3 3.468a1 1 0 0 1-.104.906l-1.739 2.608.971 3.237Zm-1.25 1.137a36.027 36.027 0 0 1-1.522-1.116C-5.077 4.97 1.842-1.472 6.454.293c.314.12.618.279.904.477L5.5 3 7 7l-1.5 3 1.815 4.537Zm-2.3-3.06C.895 7.797.597 4.875 1.308 3.248c.756-1.73 2.768-2.577 4.456-2.127L4.732 2.36a1 1 0 0 0-.168.991L5.91 6.943l-1.305 2.61a1 1 0 0 0-.034.818l.442 1.106Z"
            />
          </svg></button>
        </form>
        <span class="px-1">
          {{ .Dislikes }}
        </span>
      </div>
    </div>
    <div class="col-1 col-lg-2 mt-5 px-0 text-center d-flex align-items-end justify-content-start">
      <!-- <img src="/static/css/img/repnikova.png" width="50px" alt="" /> -->
    </div>
  </div>

  {{ end }}
  {{ end }}
</section>
{{ end }}