{{ define "content" }}

<section class="p-3 p-lg-5 px-3 d-flex flex-column" style="
background: #f5f6f7;
min-height: 100vh;
">
  <br /><br />
  <br /><br />

  <div class="row d-flex justify-content-center lead">
    <div class="col-1 pe-0 text-center d-flex align-items-end justify-content-end">
      <img src="../static/css/img/repnikov.png" width="50px" alt="" />
    </div>
    <div class="message col-10 col-lg-9 mb-5 p-3" style=" border-radius: 20px 20px 20px 0; background-color: #e2e2e2;">
      <p class="m-0 p-0">
        <a style="font-weight: bold; color: #0719bb; text-decoration: none" class=""
          href="/user/profile/{{ .article.UserID }}">{{ .article.FirstName }} {{ .article.LastName }}</a><br />
      <p class="m-0 p-0 d-flex justify-content-center">
        <a style="font-weight: bold; color: #0719bb; text-decoration: none" href="/article/{{ .ID }}">{{ .article.Title
          }}</a> <br />
      </p>
      <p class="m-0 p-0 ps-2">
        {{ .article.Text }}
      </p>
      <p class="m-0 p-0 d-flex justify-content-center">
        Теги: тег1, тег2, тег3, etc
      </p>
      </p>
      <p class="m-0 p-0 d-flex justify-content-between">
        <span>Добавлен: {{ .article.CreatedAt.Format "02 Jan 06 15:04" }}</span>
        <span>Обновлен: {{ .article.UpdatedAt.Format "02 Jan 06 15:04" }}</span>
      </p>
      <p class="m-0 p-0 d-flex justify-content-between" style="font-size:15px;">
        <span class="p-1">1119 просмотров</span>
        <span class="p-1">334 лайка 4 дизлайка</span>
      </p>
    </div>
    <div class="col-0 col-lg-2"></div>
  </div>

  <!-- * ARTICLE LIKE -->
  <form action="/vote/article/like/{{ .article.ID }}" method="POST">
    <button>like</button>
  </form>

  <form action="/vote/article/dislike/{{ .article.ID }}" method="POST">
    <button>dislike</button>
  </form>

  <div>
    <!-- Коммент -->
    <div class="mb-3 row d-flex justify-content-center lead">
      <label for="InputPassword1" class="form-label"></label>
      <input id="comment" class="message col-11 col-lg-4 p-3" name="comment" type="text"
        placeholder="Написать комментарий.." required
        style="border-width: 0px; border-radius: 20px; background-color: #e2e2e2;" />
    </div>
    <input type="hidden" id="article_id" value="{{ .article.ID }}">
    <input type="hidden" id="category_id" value="{{ .article.CategoryID }}">
    <p id="warning" style="color: red"></p>

    <!-- Submit -->
    <button onclick="commentCreate()" type="submit" class="btn btn-warning">
      Отправить
    </button>
  </div>

  {{ if eq .nil true }}
  {{ else }}
  {{ range .comments }}
  <div class="row d-flex justify-content-center lead">
    <div class="col-1 col-lg-2">
      <p></p>
    </div>
    <div class="message col-8 col-lg-8 mb-5 p-3" style=" border-radius: 20px 20px 20px 0; background-color: #e2e2e2;">
      <p class="m-0 p-0">
        {{ .Text }}
      </p>
      <p class="m-0 p-0 d-flex justify-content-between">
        <span>Добавлен: {{ .CreatedAt.Format "02 Jan 06 15:04" }}</span>
      </p>
      <p class="m-0 p-0 d-flex justify-content-between" style="font-size:15px;">
        <span class="p-1">31 лайков</span>
        <span class="p-1">1 дизлайк</span>
      </p>
    </div>
    <div class="col-1 col-lg-2 mt-5 px-0 text-center d-flex align-items-end justify-content-start">
      <img src="/static/css/img/repnikova.png" width="50px" alt="" />
    </div>
  </div>

  <!-- TODO Erda замути красиво -->
  <a href="/user/profile/{{ .UserID }}">{{.FirstName}} {{.LastName}}</a>

  <!-- * COMMENT LIKE -->
  <form action="/vote/comment/like/{{ .CommentID }}" method="POST">
    <button>like</button>
  </form>f

  <form action="/vote/comment/dislike/{{ .CommentID }}" method="POST">
    <button>dislike</button>
  </form>
  {{ end }}
  {{ end }}
</section>
{{ end }}