{{ define "content" }}
<input type="text" id="title" placeholder="Заголовок">
<input type="text" id="text" placeholder="Текст">

<label for="categories">Рубрика:</label>
<input list="category" id="categories" name="categories"/ placeholder="Рубрика">

<datalist id="category">
{{ range $index, $category := .categories }}
    <option value="{{ .Name }}" id="$index">
{{ end }}
</datalist>

<button type="submit" onclick="createArticle()">Опубликовать</button>

<script src="/static/js/article.js"></script>
{{ end }}