{{ template "base" . }}
{{ define "content" }}

<section class="bg-light text-secondary py-5 text-center">
    <div class="container">
        <div class="row oProekte">
            <div class="col">
                <div class="lead">
                    <p class="m-auto" style="text-align: left; max-width: 1280px; width: auto">
                        О Проекте
                    </p>
                    <p class="m-auto pt-2" style="text-align: left; max-width: 1280px; width: auto">
                        Сбережения и Инвестиции – это проект направленный на развитие
                        общей финансовой грамотности в Казахстане. Мы предлагаем
                        материалы для обучения и консультации в области семейных
                        финансов и инвестиций с целью помочь – помочь нашим клиентам
                        достичь финансового благополучия.
                    </p>
                    <p class="m-auto pt-2" style="text-align: left; max-width: 1280px; width: auto">
                        Проект зарегистрирован как некоммерческая организация. Все наши
                        материалы, (книги, лекции, видео-инструкции) находятся в
                        открытом доступе чтобы каждый мог разобраться сам - это один из
                        принципов проекта. При этом команда проекта должна стать
                        незаменимым помощником в ситуациях когда требуется
                        профессиональная помощь. Мы нацелены на результат и можем
                        консультировать и сопровождать начиная с вопросов ведения
                        личных/семейных финансов и до подбора инструментов в портфель,
                        ребалансировки и подачи ежегодной налоговой декларации.
                    </p>
                    <p class="m-auto pt-2" style="text-align: left; max-width: 1280px; width: auto">
                        На нашем сайте регулярно публикуются статьи про финансовую
                        грамотность и разумные инвестиции. Мы делаем видео-инструкции,
                        проводим мастер-классы и публикуем записи на нашем YouTube
                        канале.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-0 p-md-5 bg-light text-secondary py-5 text-center">
    <h2 class="text-uppercase text-center m-auto" style="max-width: 960px; width: auto">
        <strong>Проект "Сбережения и Инвестиции"</strong>
    </h2>
    <h2 class="text-uppercase text-center m-auto" style="max-width: 960px; width: auto">
        <strong>29 сент. 2021 г.</strong>
    </h2>
    <br />
    <div class="row">
        <div class="col">
            <div class="lead">
                <p class="m-auto" style="text-align: left; max-width: 1280px; width: auto">
                    <!-- тут текст описания -->
                </p>
                <p class="m-auto pt-2" style="text-align: left; max-width: 1280px; width: auto">
                <div class="col-12 col-md-8 col-lg-6 col-xl-3 mx-auto">

                    <iframe class="m-auto w-100" width="450" height="300"
                        src="https://www.youtube.com/embed/8Tbv5KbLE-0?list=PLVf_4hKzwcLufSUh52fLfFD6rSsehvNqv"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-5 text-light" style="background: #122448">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="lead">
                    <p class="m-auto pt-2" style="text-align: left; max-width: 1280px; width: auto">
                        <span class="text-warning">Миссия</span> - Привить культуру
                        ответственного и долгосрочного инвестирования!
                    </p>
                </div>
            </div>
            <div class="col-md">
                <div class="lead">
                    <p class="m-auto pt-2" style="text-align: left; max-width: 1280px; width: auto">
                        <span class="text-warning">Видение</span> - Проект должен стать
                        окном в мир разумных сбережений и инвестиций в Казахстане: с
                        одной стороны собрать под одной крышей все что для этого нужно
                        знать, а с другой задать уровень оказания финансовых услуг и
                        стать гарантом соблюдения интересов широких масс пассивных
                        инвесторов!
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md">
                <div class="lead">
                    <p class="m-auto pt-2" style="
                text-align: center;
                max-width: 1280px;
                width: auto;
                font-weight: normal;
              ">
                        Более подробно с целями и задачами «Сбережения и Инвестиции»
                        можно ознакомиться, почитав наш
                        <a target="_blank"
                            href="https://drive.google.com/open?id=1xghZRZt2NgtEt1YPh5Gq9i2MBffV9D6u&authuser=sberinvestkz%40gmail.com&usp=drive_fs"
                            class="">Устав</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-5" style="background: #fafafc">
    <h2 class="text-uppercase text-center m-auto" style="max-width: 960px; width: auto">
        <strong>Задачи проекта</strong>
    </h2>
    <br />
    <div class="card mb-3 mx-auto" style="max-width: 1200px; border: none; background: #fafafc">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="max-width: 250px" src="/static/css/img/goal.png" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <ul>
                        <li>
                            Собрать в одном месте, все что нужно знать о финансовом
                            планировании и разумных инвестициях в Казахстане
                            <ul style="list-style: none">
                                <li>
                                    Обновлять и представлять информацию в систематизированном
                                    и понятном виде, доступном для самообучения
                                </li>
                            </ul>
                        </li>
                        <li>
                            Подобрать и объединить специалистов различного профиля в
                            команду для разработки комплексных решений в сфере финансового
                            планирования на локальном рынке, ведения просветительской
                            деятельности и консультирования
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-5 text-light bg-dark">
    <h2 class="text-uppercase text-center m-auto" style="max-width: 960px; width: auto">
        <strong>Принципы</strong>
    </h2>
    <br />
    <div class="card mb-3 mx-auto text-light bg-dark" style="max-width: 1200px; border: none">
        <div class="row g-0" style="max-width: 1000px; margin: auto; justify-content: center">
            <div class="col-md-8">
                <div class="card-body">
                    <ol>
                        <li>Долгосрочность. Мы строим план на всю жизнь.</li>
                        <li>
                            Нацеленность на результат. У нас нет разовых консультаций и
                            почасовой оплаты мы или беремся, или нет.
                        </li>
                        <li>Обязательность. Сказали сделали.</li>
                        <li>
                            Конфиденциальность. То, что знают трое знает весь мир.
                            Информация клиента находится в рамках двухстороннего
                            соглашения и разглашению не подлежит.
                        </li>
                        <li>
                            Глобальный подход. Наш дом планета земля, юрисдикцию мы
                            подбираем под конкретные цели.
                        </li>
                        <li>
                            Глобального распределения активов. Мы не работаем с
                            сомнительными проектами. Мы строим планы и выбираем
                            инструменты в портфель которые можно держать поколениями.
                        </li>
                        <li>
                            Семейность. Если хочешь идти быстро то иди один, если хочешь
                            далеко то ищи команду. Моя семья моя команда. Мы планируем в
                            масштабе семьи.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-5" style="background: #fff5ef">
    <h2 class="text-uppercase text-center m-auto" style="max-width: 960px; width: auto;">
        <strong>Проект "Сбережения и Инвестиции"</strong> <br> <br>
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <div class="card mb-3 border-0" style="max-width: 540px; background: #fff5ef">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <img style="max-width: 250px" src="/static/css/img/repnikov.png" alt="" />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                <h5 class="card-title">Александр Репников</h5>
                                <p class="card-text">
                                    MBA in Finance, GBS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <h5><strong>Директор Сбережения и Инвестиции.</strong></h5>

                <p>
                    Ведущий курсов по портфельным инвестициям и финансовой грамотности, независимый финансовый советник,
                    автор книги «Сбережения и Инвестиции».
                </p>
                <p>
                    С 2016 года работает над темой сбережений и инвестиций в Казахстане. Имеет диплом MBA в Geneva
                    Business School со специализацией в международных финансах. Работа над диссертацией легла в основу
                    книги и проекта «Сбережения и Инвестиции».
                </p>
            </div>

            <div class="col-xl">
                <div class="card mb-3 border-0" style="max-width: 540px; background: #fff5ef">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <img style="border-radius: 500%; max-width: 250px" src="/static/css/img/repnikova.png"
                                alt="" />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                <h5 class="card-title">Людмила Репникова</h5>
                                <p class="card-text">BSc in Economics, KIMEP</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h5><strong>Эксперт по налогооблажению</strong></h5>
                <p>
                    Налоговый консультант 1-й категории, член Палаты Налоговых
                    Консультантов Казахстана. Ведущая курсов по финансовой грамотности
                    и налогообложению.
                </p>
                <p>
                    С 2010 года работает в компании EY. Имеет обширный опыт
                    предоставления услуг по вопросам налогообложения для местных и
                    иностранных компаний.
                </p>
                <p>
                    С 2020 года Людмила в рамках проекта «Сбережения и Инвестиции»
                    консультирует частных инвесторов касательно налоговой отчетности.
                </p>
            </div>

            <div class="col-xl">
                <div class="card mb-3 border-0" style="max-width: 540px; background: #fff5ef">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <img style="border-radius: 500%; max-width: 250px" src="/static/css/img/nagima.png"
                                alt="" />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                <h5 class="card-title">Нагима Джанаева</h5>
                                <p class="card-text">MSc in Finance, LBS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h5><strong>Эксперт по Корпоративным Финансам</strong></h5>
                <p>
                    ACCA, CFA, AMCT. Более 10 лет международного опыта в корпоративных финансах и аудите.
                </p>

            </div>
        </div>
    </div>
</section>

{{ end }}