{{ define "navbar" }}
<!-- Navbar menu -->
<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light fixed-top pt-2"
  id="ftco-navbar"
  style="flex-direction: column"
>
  <div class="container">
    <a href="/"
      ><img
        src="../static/css/img/logo0-0bg.png"
        alt=""
        width="60px"
        class="me-lg-3 ms-0 ms-xl-3"
    /></a>
    <div class="" style="flex-direction: column">
      <ul class="p-0 m-0">
        <a
          href="/"
          class="d-flex sberInv navbar-brand my-0 text-wrap align-items-center"
          style="padding: 0; margin: 0"
          >СБЕРЕЖЕНИЯ И ИНВЕСТИЦИИ
        </a>
        <a
          href="/"
          class="d-flex sberInv navbar-brand my-0 text-wrap align-items-center"
          style="padding: 0; margin: 0; font-size: 13px"
          >в Казахстане</a
        >
      </ul>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarID"
      aria-controls="navbarID"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse collapse ps-xl-5 d-lg-flex justify-content-end"
      id="navbarID"
    >
      <div class="" style="flex-direction: column">
        <ul class="ps-md-0 m-0">
          <li class="d-flex justify-content-center">
            <ul class="navbar-nav m-auto">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdown04"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Услуги
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="/taxreturn"
                    >Налоговая декларация</a
                  >
                  <a class="dropdown-item" href="/notifications"
                    >Ответ на уведомление</a
                  >
                </div>
              </li>
              <a class="nav-link" href="/NalInvVKaz">Курсы</a>
              <a class="nav-link" href="/knowledgebase">База знаний</a>
              <a class="nav-link" href="/videos">Видео</a>
              <a class="nav-link" href="/tools">Инструменты</a>
              <a
                class="nav-link text-white px-4 mx-1"
                style="background: #0719bb; border-radius: 20px"
                href="/user/signin"
                >Войти / Зарегистрироваться</a
              >
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{{ end }}
