.form-control i {
  position: absolute;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  display: none;
}

.form-control.error small {
  display: block;
}

.sberInv {
  font-size: 15px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

@media (max-width: 400px) {
  .sberInv {
    width: 120px;
  }
}

@media (min-width: 576px) {
  .sberInv {
    font-size: 19px;
  }
}